{% load static %}

<div class="footer container">
    <div class="social-media">
        <ul class="footer-nav-list">
            <li class="footer-nav-list-item"><a class="footer-nav-list-item-icon" href="https://t.me/cantylv">
                <img src="{% static 'svg/media/tg.svg' %}" alt="tg">
            </a></li>
            <li class="footer-nav-list-item"><a class="footer-nav-list-item-icon" href="https://vk.com/tussan_pussan">
                <img src="{% static 'svg/media/vk.svg' %}" alt="vk">
            </a></li>
            <li class="footer-nav-list-item"><a class="footer-nav-list-item-icon" href="https://github.com/cantylv">
                <img src="{% static 'svg/media/github.svg' %}" alt="github">
            </a></li>
        </ul>
    </div>
</div>