/* ЗАГРУЗКА ШРИФТОВ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');


/*Обнуляем стили*/
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


/* УБЕРЕМ СТИЛИ ДЛЯ КНОПКИ menu-nav-bar */

.menu-nav-bar {
    background-color: white;
    border: none;
}

/*  КАРКАС */

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    box-sizing: border-box;
}


.container {
    padding: 10px 30px;
}


/* HEADER */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trashBlock {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.imgTrash {
    width: 50px;
    height: auto;
}

.breadcrumbs-link {
    color: blue;
}

.breadcrumbs{
    font-size: 20px;
}

.trashBlock:hover {
    cursor: pointer;

}

/* ФУТЕР */

.footer {
    border-top: 2px solid #f0f6fb;
    margin-top: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #909294;
}

.logo-mini {
    margin-top: 10px;
    margin-right: 10px;
}

.footer-nav-list {
    display: flex;
    align-items: baseline;
}

.footer-nav-list-item {
    margin-right: 10px;
    list-style-type: none;
}

.footer-logo {
    margin-bottom: 10px;
}


/*для файла index.html*/

/* КОНТЕНТ СТРАНИЦЫ */

.main_header {
    font-size: 2.25rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.prompt_text {
    font-size: 1.25rem;
}

/* ДЛЯ ЗАКАЗОВ */

.services {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px 24px;
}


.service {

    padding-left: 10px;
    padding-right: 10px;

    background-color: #f0f6fb;
    color: black;

    border-radius: 8px;
    transition: 0.3s;


    display: flex;
}


.service:hover {
    background-color: #fffaf1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


/*Опишем карточку, которая будет отображаться на главной странице сайта*/

/* Общий контейнер карточки */
.card-service {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.card-service-page2 {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 62vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card-service-img-page2 {
    margin-right: 20px;
    max-width: 60%;
    height: 100%;
}

/* Изображение сотрудника */
.card-service-img-employee {
    width: 100%;
    height: 100%;
}

.card-service-img {
    height: 320px;
}

.card-service-img-employee-page2 {
    height: 100%;
    width: 600px;
}

/* Данные о сотруднике */
.card-service-data {
    padding: 20px 20px 20px 0px;
    overflow-y: auto;
    width: 600px;
}



.card-service-small-data {
    padding: 20px;
}

/* Заголовок работы */
.card-service-about-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-title-ans {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Анимация при наведении */
.card-service:hover {
    transform: scale(1.02);
}

/* Кнопки */
.btn {
    background-color: #d032f8;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #d64df8;
}

/* Анимация при наведении */
.btn:hover {
    transform: scale(1.02);
}


.btn-home {
    margin-left: 0px;
    margin-bottom: 30px;
}


/*Стили для фильтра*/

/* Стили для контейнера фильтра */
.filter {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
}

/* Стили для формы фильтра */
#filterForm {
    display: inline-block;
    padding: 10px 0px 10px 0px;
}

/* Стили для метки фильтра */
label {
    font-size: 16px;
    margin-right: 10px;
}

/* Стили для поля ввода фильтра */
#filter_input {
    padding: 10.25px 8px 10.25px 8px;
    font-size: 14px;
    border: 1px solid #d64df8;
    border-radius: 4px;
    margin-right: 10px;
    width: 250px;
}


#filterForm label {
    font-size: 1.25rem;
}


.title-last-ans {
    margin-bottom: 20px;
}

.title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 24px;
}


/* Стили для таблицы заявки*/
  .styled-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }

  .text-center {
  }

  /* Стили для заголовков таблицы */
  .styled-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }

  /* Стили для ячеек таблицы */
  .styled-table td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }

  /* Стили для четных строк */
  .styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }


  /* Стили для таблицы услуг*/
  .services-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }

  /* Стили для заголовков таблицы */
  .services-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }

  /* Стили для ячеек таблицы */
  .services-table td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }

  /* Стили для четных строк */
  .services-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Стили для кнопок действий */
  .services-table .action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trashServiceHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
  }

  .btn-formed {
      margin-bottom: 0!important;
  }

  .action {
      margin-right: 20px;
  }

  /* Стили для кнопок */
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #28a745; /* Цвет фона для класса btn-success */
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  /* Стили для кнопок с классом btn-success */
  .btn-success {
    background-color: #28a745; /* Цвет фона для класса btn-success */
    border-color: #28a745; /* Цвет границы для класса btn-success */
  }

  /* Стили при наведении на кнопку */
  .btn:hover {
    background-color: #218838; /* Изменение цвета фона при наведении */
    border-color: #1e7e34; /* Изменение цвета границы при наведении */
  }

  /* Стили при нажатии на кнопку */
  .btn:active,
  .btn.active {
    background-color: #1e7e34; /* Изменение цвета фона при нажатии */
    border-color: #1c7430; /* Изменение цвета границы при нажатии */
  }


